.Lisa {
font-size: 20px;
}

.StardosStencil {
font-family: 'Stardos Stencil', cursive;
font-size: 30px;
}

.FjallaOne {
font-family: 'Fjalla One', sans-serif;
font-size: 30px;
}

.AllertaStencil {
font-family: 'Allerta Stencil', sans-serif;
font-size: 30px;
}

.Federo {
font-family: 'Federo', sans-serif;
font-size: 30px;
}

.Lora {
font-family: 'Lora', serif;
}

.NotoSerif {
font-family: 'Noto Serif', serif;
}

.Oxygen {
font-family: 'Oxygen', sans-serif;
}

.Cabin {
font-family: 'Cabin', sans-serif;
}

.SourceSerifPro {
font-family: 'Source Serif Pro', serif;
}

.Cardio {
font-family: 'Cardo', serif;
}

.Amethysta {
font-family: 'Amethysta', serif;
}

.StardosStencil {
font-family: 'Stardos Stencil', cursive;
}
