/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



@media (max-width:600px) {


body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-weight: 100;
  text-align: center;
  background-color: transparent;
  font-size: 45px;
  text-transform: lowercase;
  display: inline-block;
  width: 300px;
  height: 150px;
  z-index: 9;
  position: fixed;
  margin: 0 auto;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 25px;
}

p {
  font-size: 20px;
  color: white;
}

img {
  z-image: 6;
}


/* menyrad och loggan */
.topnav {
  padding: 0 20px;
  text-align: center;
}

.topnav a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
  margin: 20px;
  padding: 0 25px;
  letter-spacing: 2px;
  text-decoration: none;
}

.topnav a:hover {
  font-weight: bold;
}

.top-logo {
  position: fixed;
  width: 180px;
  top: 0;
  padding-top: 6px;
  margin: 0 auto;
  display: inline-block;
  z-index: 10;
}

#space {
  padding-right: 0;
  margin-right: 0;
}

#topRow {
  background-color: hsla(0, 0%, 0%, 0);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 9;
}

#logga {
  width: 6em;
  height: 1em;
  top: 40vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}


#hamburgerNav {
  box-sizing: border-box;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.8);
  position: fixed;
  top: 0px;
  right: 0;
  width: 200px;
  height: 310px;
  padding: 100px 0 0px 0;
  z-index: 7;
  display: none;
}

#hamburgerNav a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
  margin: 10px;
  padding: 0 25px;
  letter-spacing: 2px;
  text-decoration: none;
}

#hamburgerNav a:hover {
  font-weight: bold;
}


.navbar {
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.8);
  position: fixed;
  padding-top: 0px;
  top: 80px;
  right: 0;
  width: 200px;
  height: 250px;
  z-index: 8;
  display: none;
}

.nav h1 {
  display: none;
}

.navbar a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
  margin: 0;
  padding: 0 25px;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar a:hover {
  font-weight: bold;
}

#space {
  display: none;
}

.hamburgerContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 100000;
}

.bar1, .bar2, .bar3 {
    width: 80%;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 25px;
    z-index: 9;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* backgrundsbild och hemsidan*/
header {
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(./images/cottage.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.koordinater{
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: white;
  opacity: 0.7;
} 

article {
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
  width: 100%;
}

#tjanster {
  box-sizing: border-box;
  width: calc(100% - 30px);
  padding: 80px 0;
  margin: 20px auto;
  background-color: rgb(19, 96, 77);
}

.tjanster h2 {
  margin-bottom: 40px;
}

.tjanster p {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.portfolio {
  background-color: transparent;
  margin: 0 auto;
  text-align: center;
}

.portfolio h2 {
  color: black;

}

.portfolio p {
  color: black;
  padding: 30px;
}

figure.polaroid {
    width: 199.999px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 8px 8px 5px #aaaaaa;
    margin: 0 auto;
    display: none;
}

.fadecontainer {
  background: linear-gradient(rgb(19, 96, 77), rgb(19, 96, 77), white);
}

.omOss {
  margin-top: 200px;
  padding: 30px;
}

.omOss p {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}

.polaroidxs {
    width: 199.999px;
    padding: 10px 10px 15px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 8px 8px 5px hsla(0, 0%, 0%, 0.27);
    margin: 20px auto;

}

caption {
  color: black;
}

.kontakt {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 80px 40px;
}


.uppsalacontainer {
 width: 100%;
 height: 250px;
 position: relative;
 margin: 0;
}

.uppsalabild {
  background-image: url(./images/codecabinFot.png);
  position: relative;
  bottom: 0;
  background-size: cover;
  background-position: center bottom;
  margin: 0;
  width: 100%;
  height: 260px;
  z-index: 5;
}


footer {
  color: white;
  background-color: hsla(114, 100%, 1%, 1);
  text-align: center;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

footer h1 {
  font-size: 30px;
  position: static;
}

footer h2 {
  color: white;
}

footer p {
  margin-bottom: 50px;
}

}

