body {
  background-color: #ccffd9;
  background-repeat: repeat;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
}

header {
  background-color: hsla(0, 0%, 100%, 0.87);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  margin: 0 auto;
  padding: 20px;
}

.topnav {
  padding: 0 10px;
  text-align: center;
}

.topnav a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
  margin: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.topnav a:hover {
  font-weight: bold;
  font-size: 18px;
}

.top-logo {
  position: fixed;
  width: 180px;
  top: 0;
  padding-top: 6px;
  margin: 0 auto;
  display: inline-block;
  z-index: 10;
}

#space {
  padding-right: 0;
  margin-right: 0;
}


footer {
  background-color: #FFF;
  font-family: 'Varela Round', 'Fjalla One', sans-serif;
  font-size: 15px;
  color: white; 
  background-color: hsla(114, 100%, 1%, 1);
  text-transform: lowercase;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin:  auto;
  padding: 20px;
}

footer h2 {
  margin-bottom: 100px;
  font-size: 28px;
  font-family: 'Shrikhand', 'Fjalla One', sans-serif;
}

footer h1 {
  color: white;
}

footer p {
  margin-bottom: 50px;
}

h1 {
  text-transform: uppercase;
  color: #000;
  font-weight: 100;
  text-align: center;
}

img {
  z-image: 10;
}

/*
.logo {
  font-family: 'Shrikhand', cursive;
  background-color: #FFF;
  font-size: 45px;
  text-transform: lowercase;
  color: #ffb399;
  display: block;
  width: 300px;
  height: 150px;
  z-index: 9;
  position: fixed;
  margin: 0 auto;
}*/

article {
  background-color: transparent;
  text-align: center;
  max-width: 1000px;
  padding: 50px 50px 50px 50px;
  margin: 50px auto;
  font-family: 'Arial', Helvetica, sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-weight: 100;
}



figure.polaroid {
    width: 199.999px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 8px 8px 5px #aaaaaa;
}

figure.rotate_right {
    float: right;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
}

figure.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
}

section {
  display: inline-block;
}

.omOss {
  margin-top: 200px;
  margin-bottom: 400px;
  float: center;
}

.p-left {
  text-align: left;
  float: left;
  max-width: 600px;
  margin-bottom: 50px;
}

.omoss1 {
  margin-bottom: 100px;

}

.p-right {
  text-align: left;
  float: right;
  max-width: 600px;
}

.omoss2 {
  margin: 50px auto;
}

.p-center {
  float: center;
  text-align: center;
  min-width: 600px;
  max-height: 50px;
  clear: both;
  margin-top: 100px;
}

.tjanster{
  background-color: transparent;
  box-shadow: 0 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  display: inline-block;
  font-family: 'Indie Flower', sans-serif;
  font-size: 22px;
}

.tjanster h1 {
  margin-top: 100px;
  font-family: 'Arial', 'Indie Flower', cursive;
}

.tjanster p {
  text-align: left;
  width: 500px;
  margin: 0 auto;
  display: block;
}


.portfolio {
  
}

.kontakt {
  
}










































