/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



@media (min-width: 1201px){

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-weight: 100;
  text-align: center;
  background-color: transparent;
  font-size: 45px;
  text-transform: lowercase;
  display: inline-block;
  width: 300px;
  height: 50px;
  z-index: 9;
  position: fixed;
  margin: 0 auto;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 40px;
  margin: 0;
}

p {
  font-size: 25px;
  color: white;
}

img {
  z-image: 10;
}

#topRow {
  display: none;
}

#hamburgerNav {
  display: none;
}

nav {
  text-align: center;
  background-color: transparent;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  margin: 0 auto;
}

nav a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
  margin: 20px;
  padding: 0 25px;
  letter-spacing: 2px;
  text-decoration: none;

}

nav a:hover {
  font-weight: bold;
}

.top-logo {
  position: fixed;
  width: 180px;
  top: 0;
  padding-top: 6px;
  margin: 0 auto;
  display: inline-block;
  z-index: 10;
}

#space {
  padding-right: 0;
  margin-right: 0;
}

header {
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(./images/cottage.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

article {
  background-color: transparent;
  text-align: center;
  width: 100%;
}


.tjanster {
  box-shadow: 0 0;
  background-position: center;
  border: 30px solid white;
  box-sizing: border-box;
  background-color: rgb(19, 96, 77);
  padding-bottom: 100px;
  color: white;
}

.tjanster h2 {
  margin-top: 150px;
  margin-bottom: 150px;
  color: white;
}

.tjanster p {
  max-width: 300px;
  min-width: 300px;
}

.tjanstbox {
  margin: 0 auto;
  position: relative;
}

.flexibla {
  max-width: 300px;
  position: relative;
  display: inline-block;
  right: 50px;
  bottom: 22px;
}

.kundfokus {
  max-width: 300px;
  position: relative;
  display: inline-block;
  bottom: 70px;
}

.prisvarda {
  max-width: 300px;
  position: relative;
  display: inline-block;
  left: 50px;
  bottom: 70px;
}

.portfolio {
  padding-bottom: 400px;
  background-color: transparent;
  margin: 100px auto;
  text-align: center;
}

.portfolio h2 {
  color: black;
}

.portfolio p {
  color: black;
}


.pic1 {
  float: left;
  margin: 50px 50px;
  z-index: 3;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/pic1.jpg);
  background-repeat: no-repeat;
}

.pic2 {
  float: left;
  margin: 50px 50px;
  z-index: 3;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/pic2.jpg);
  background-repeat: no-repeat;
}

.pic3 {
  float: left;
  margin: 50px 50px;
  z-index: 3;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/pic3.jpg);
  background-repeat: no-repeat;
}

.centerpics {
  margin: 0 auto;
}



figure.polaroid {
    width: 199.999px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 8px 8px 5px #aaaaaa;
}

figure.rotate_right {
    float: right;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
}

figure.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
}

.fadecontainer {
  background: linear-gradient(rgb(19, 96, 77), rgb(19, 96, 77), white);
}


.omOss {
  margin: 0 auto;
  padding: 100px 0;
  float: center;
  max-width: 1000px;
}

.p-left {
  text-align: left;
  float: left;
  max-width: 600px;
}

.p-right {
  text-align: left;
  float: right;
  max-width: 600px;
}

.omoss2 {
  margin: 0 auto;
}

.p-center {
  float: center;
  text-align: center;
  min-width: 600px;
  max-height: 50px;
  clear: both;
}


.uppsalacontainer {
 width: 100%;
 height: 250px;
}

.uppsalabild {
  background-image: url(./images/codecabinFot.png);
  bottom: 0;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 250px;
  z-index: 5;
}

.kontakt {
      margin: 80px 0;
}

.polaroidxs {
  display: none;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

footer h1 {
  font-size: 30px;
  position: static;
  padding-top: 50px;
}

footer h2 {
  color: white;
  padding: 50px 0;
}

footer p {
  padding-bottom: 50px;
}

}

